.mortgage-btn {
  text-transform: none;
  font-weight: 400;
  font-size: .8rem;
}

.calculator {
  width: 60%;
}

@media only screen and (max-width: 800px) {
  .calculator {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
